<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View All Customers</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <a href="/customers" class="btn btn-success" style="position: absolute; top: 10px; left: 10px;">Back</a>
        <div class="container mt-5">
            <h1>All Customers</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                </tr>
                </tbody>
            </table>

    </div>

    </body>
</html>
