<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
</head>
<body>

<!-- First 'div' will only be displayed if the user is not authenticated -->
<div th:if="${#authentication.name == 'anonymousUser'}">
  <a href="/register">Create an Account</a> |
  <a href="/login">Login</a>
</div>

<!-- Second div will be displayed if the user is authenticated. It greets the user and provides a logout button. -->
<div th:if="${#authentication.name != 'anonymousUser'}">
  <p>Welcome, <span th:text="${#authentication.principal.username}"></span>!</p>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
  </form>
</div>

<h1>Search Page Header</h1>
<!-- Rest of the content -->
</body>
</html>
